/* You can add global styles to this file, and also import other style files */
body{
    display: grid;
    background-image: url('./assets/lib/background-pic.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}