<div class="form-admin-container">
  <form class="admin-form" (ngSubmit)="submitForm()">
    <button class="close-admin-modal-icon" type="button" (click)="closeModal()">
      X
    </button>
    <h3 class="form-admin-header">Update</h3>
    <label class="form-admin-label">Title : </label>
    <input
      type="text"
      name="title"
      class="admin-form-input"
      [(ngModel)]="vacation.title"
      required
    />
    <!-- <div *ngIf="titleInput.invalid && titleInput.touched">
        <p>Title is required</p> -->
    <!-- </div> -->
    <label class="form-admin-label">Category : </label>
    <input
      type="text"
      name="category"
      class="admin-form-input"
      [(ngModel)]="vacation.category"
      
      required
    />
    <!-- <div *ngIf="categoryInput.invalid && categoryInput.touched">
        <p>Category is required</p> -->
    <!-- </div> -->
    <label class="form-admin-label">Description : </label>
    <textarea
      class="admin-form-textarea"
      type="text"
      name="description"
      [(ngModel)]="vacation.description"
     
      required
    ></textarea>
    <!-- <div *ngIf="descriptionInput.invalid && descriptionInput.touched">
        <p>Description is required</p> -->
    <!-- </div> -->
    <label class="form-admin-label">Destination : </label>
    <input
      class="admin-form-input"
      type="text"
      name="destination"
      [(ngModel)]="vacation.destination"
      
      required
    />
    <!-- <div *ngIf="destinationInput.invalid && destinationInput.touched">
        <p>Destination is required</p> -->
    <!-- </div> -->
    <label class="form-admin-label">Img_url : </label>
    <textarea
      class="admin-form-textarea"
      type="text"
      name="img_url"
      [(ngModel)]="vacation.img_url"
      
      required
    ></textarea>
    <!-- <div *ngIf="imgUrlInput.invalid && imgUrlInput.touched">
        <p>Img_url is required</p> -->
    <!-- </div> -->
    <label class="form-admin-label">Date Start :</label>
    <input
      class="admin-form-input"
      type="date"
      name="date_start"
      [(ngModel)]="vacation.date_start"
      
      required
    />
    <label class="form-admin-label">Date End :</label>
    <input
      class="admin-form-input"
      type="date"
      name="date_end"
      [(ngModel)]="vacation.date_end"
      
      required
    />
    <label class="form-admin-label">Price :</label>
    <input
      type="text"
      name="price"
      class="admin-form-input"
      [(ngModel)]="vacation.price"
      required
    />
    <button class="submit-admin-form" type="submit">Update Vacation</button>
    <!-- <div *ngIf="dateStartInput.invalid && dateStartInput.touched">
        <p>Date Start is required</p> -->
    <!-- </div> -->
  </form>
</div>
